{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}
{% block content %}
        <main>
            <div class="container">
                <div class="main">
                    <section class="profile">
                        <div class="profileList">
                            <ul>
                                <li>
                                    <a href="indexActive.html">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>Лента</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="chats.html">
                                        <div> <span>2</span><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>Сообщения</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="delegats.html">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>Делегаты</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="rubrics.html">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>Рубрики</h4>
                                    </a>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'profile' user.pk %}">
                                        <div><img src="{% static 'images/profile/profile.svg' %}" alt="list"></div>
                                        <h4>Профиль</h4>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="profileSettings">
                            <h3>Настройки</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'settings' %}">
                                        <div><img src="{% static 'images/profile/settings.svg' %}" alt=""></div>
                                        <h4>Настройки</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'security' %}">
                                        <div><img src="{% static 'images/profile/security.svg' %}" alt=""></div>
                                        <h4>Безопасность</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <div><img src="{% static 'images/profile/quit.svg' %}" alt=""></div>
                                        <h4>Выйти</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="backBtn">
                            <a href="indexActive.html" class="image"><img src="images/chat1/back.svg" alt="svg"><p>Назад</p></a>
                    </section>
                    <section class="Post">
                        <div class="PostImage" id="introJs">
                            <img src="{{ news.image.url }}" alt="news">
                            <div class="PostText">
                                <h2>{{ news.title }}</h2>
                                <p>{{ news.preview }}</p>
                            </div>
                        </div>
                            <!-- <button class="btnYellow">Обсуждение</button> -->
                        <div style="padding: 20px">{{ news.content|safe }}</div>
                            
                        <div class="prevEnd"></div>
                        <div class="PostEnd">
                            <div class="like">
                                <img class="likeActive" src="images/news/likeN.svg" alt="">
                                <img src="images/news/like.svg" alt="">
                                    <!-- <span>Понравилось</span> -->
                                <div class="likeCount">
                                    <span></span>
                                </div>
                            </div>
                            <div href="post1.html" class="comments">
                                <p>Комментарии <span>{{ comments.count }}</span></p>
                            </div>
                        </div>
                        {% if new_comment %}
                            <div class="alert alert-success" role="alert">Ваш коментарий отправлен</div>
                        {% else %}
                        <div class="comment">
                            <h2>Оставить коментарий</h2>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="forName">
                                    <div>
                                        <label for="text">Имя: </label>
                                        {{ comment_form.name }}
                                    </div>
                                    <div>
                                        <label for="email">Email: </label>
                                        {{ comment_form.email }}
                                    </div>
                                </div>
                                <div class="forComment">
                                    {{ comment_form.body }}
                                    <button type="submit"><img src="{% static 'images/chat1/send.svg' %}" alt=""></button>
                                </div>
                            </form>

                        </div>
                        {% endif %}

                        <div class="comment">
                            <h2>{{ comments.count }} comments</h2>

                            {% for comment in page_obj %}
                            <div class="otherComments">
                                <div class="otherCommentsE">
                                    <h3>{{ comment.name }}</h3>{{ comment.created_on }}
                                    <p class="textComment">{{ comment.body | linebreaks}}</p>
                                </div>

                            </div>
                            {% endfor %}

                            <div>
                                <span>
                                    {% if page_obj.has_previous %}
                                        <a href="?page={{ page_obj.previous_page_number }}" >Previous</a>
                                    {% endif %}
                                        <span>{{ page_obj.number }}</span>
                                    {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" >Next</a>
                                    {% endif %}
                                </span>
                            </div>

                        </div>
                    </section>
                    
                </div>
            </div>
        </main>

{% endblock %}
